* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* ******************************************
 LAYOUT
***************************************** */
body {
  background: rgb(2 36 5);
  color: white;
  font-family: "PT Serif", serif;
}
header {
  text-align: center;
  margin-top: 4%;
}

.container2 {
  margin-top: 7%;
  float: left;
  width: 49%;
}
.container {
  float: left;
  width: 40%;
  margin-top: 10%;
  margin-left: 10%;
}

.container-data {
  margin-top: 15%;
  position: absolute;
  left: 40px;
}
img {
  width: auto;
  height: 500px;
  border-radius: 2%;
}
